.completed {
    text-decoration: line-through;
    color: gray;
    opacity: 0.6;
}

li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
}